body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
form {
    max-width: 600px;
    margin: 20px auto;
    align-content:center ;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
footer{
    text-align: center;
    color: white;
    margin-block-end: auto;
    background-color: #333
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
